body {
    background-color: rgb(126, 115, 125);
}

#container {
    background-color: rgb(232, 210, 193);
    width: 1090px; 
    margin: 20px auto;
    border: 2px solid rgb(66, 35, 69);
    padding: 20px;
    border-radius: 20px;
}

nav {
    text-align: center;
    border-top: 3px solid rgb(104, 121, 98);
    border-bottom: 3px solid rgb(104, 121, 98);
    padding: 20px 0;
}

nav a {
    color:rgb(69, 86, 61);
    font-size: 25px;
    margin: 0 20px;
    text-decoration: none;
}

nav a:hover {
    color:rgb(222, 119, 16);
    text-decoration: underline;
}

header {
    text-align:center;
    padding: 30px;
    margin: 
}

header h1 {
    color: rgb(66, 35, 69);
    font-size: 50px
}

main {
    margin: 20px auto;
    border: 2px solid rgb(73, 16, 79);
    padding: 20px;
    border-radius: 20px;
}

main h2{
    color:rgb(66, 35, 69);
    text-align: center;
    font-size: 40px;
}

main img {
    display: block;
    margin:20px auto;
    width:600px;
}

h3{
    color:blue;
    font-size: 30px;
}

footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid rgb(104, 121, 98)
}

hr {
    height: 4px;
}

.img_style {
    display: block;
    width: 330px;
}

.gallery img {
    display: inline;
    padding: 8px;
}

.img_style2 {
    display: block;
    width: 400px;
}

.gallery2 img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 58px;
}