body {
    background-color: rgb(126, 115, 125);
}

#container {
    background-color: rgb(232, 210, 193);
    width: 1090px; 
    margin: 20px auto;
    border: 4px solid rgb(66, 35, 69);
    padding: 20px;
    border-radius: 20px;
}

nav {
    text-align: center;
    border-top: 3px solid rgb(69, 86, 61);
    border-bottom: 3px solid rgb(69, 86, 61);
    padding: 20px 0;
}

nav a {
    color:rgb(61, 69, 86);
    font-size: 25px;
    margin: 0 20px;
    text-decoration: none;
}

nav a:hover {
    color:rgb(222, 119, 16);
    text-decoration: underline;
}

header {
    text-align:center;
    padding: 30px;
    margin: 20px;
}

header h1 {
    color: rgb(66, 35, 69);
    font-size: 60px;
    text-decoration: underline;
}

main {
    margin: 20px auto;
    border: 3px solid rgb(69, 86, 61);
    padding: 20px;
    border-radius: 20px;
}

main h2{
    color:rgb(61 69 86);
    text-align: center;
    font-size: 40px;
}

main img {
    display: block;
    margin:20px auto;
    width:600px;
}

h3{
    color: rgb(61 69 86);
    font-size: 30px;
}

footer {
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid rgb(69, 86, 61);
}

hr {
    height: 1px;
    color: rgb(69, 86, 61);
    background-color: rgb(69, 86, 61);
    display: block;
    border-style: solid;
}

.img_style {
    display: block;
    width: 329px;
}

.gallery img {
    display: inline;
    padding: 8px;
}

.img_style2 {
    display: block;
    width: 480px;
}

.gallery2 img {
    display:inline;
    Margin:auto;
    padding:20px;
}
