* {
    margin:0;
}

header img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0px 0px;
}

body {
    background-color:#C2C2C6;
}

h1 {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
    font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 15px; 
  text-align: center;
}

li {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#nav {
    background-color:#E7C7B5
}
nav {
    text-align:center;
    border-top: 5px solid #2A2521;
    border-bottom: 5px solid #2A2521;
}

nav ul {
    list-style-type: none;
    margin: 20px auto;
    padding: 5px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color:#38535A;
    color:#C2C2C6;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid #2A2521;
    margin: 10px 5px;
    padding: 5px 0px;
}

nav li a:hover {
    color:#E58B5E;
    background-color:#13353F;
    text-decoration: none;
}

section {
    width: 50%;
}

aside {
    width: 50%;
}

.container {
background-color:#e3e3e5;
    width: 75%;
    margin: 30px auto;
    border: 4px solid #E58B5E;
    padding: 20px;
    border-radius: 50px;
}

.container2 {
    background-image: url(images/bridges.png);
    background-size: cover;
    width: 80%;
    height: 100%;
    background-position: center center;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    background-color: #e3e3e5cc; 
    width: 75%;
    height: 50%;
    border-radius: 50px;
    border: 4px solid #38535A;
    padding: 20px;
    margin: auto;
    display: block;
}

.img_style {
    display: block;
    width: 70%;
    margin: 20px auto;
    border: 4px solid #E58B5E;
    border-radius: 50px;
}

.col_img3 {
column-count: 3;
display: flex;
flex-wrap: wrap;
padding: 20px;
justify-content:center;
gap: 15px;
}

.col_img32 {
display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 25px;
}

.img_style2 {
   width: 45%;
   display: block;
   border-radius: 50px;
   box-shadow: 5px 10px 5px;
}

.img_style3 {
    display: block;
    width: 95%;
    margin: 25px auto;
    border: 4px solid #E58B5E;
    border-radius: 50px;
}

.img_style4 {
    display: block;
    width: 55%;
    margin: 25px auto;
    border: 4px solid #E58B5E;
    border-radius: 50px;
}

footer {
    font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
    padding: 40px 0;
    text-align: center;
    border-top: 4px solid #2A2521;
}

.flexcont {
    display: flex;
}

.video {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    width: 100%;           
    margin: 0 auto; 
}

.links {
    text-align: center;
    margin: 15px auto;
    padding: 0px;
}

.links ul, li {
    list-style-type: none;

}

@media (max-width: 768px) {

nav {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin: 10px 0px;
    padding: 5px 0px;
  }

.col_img3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col_img32 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_style {
    width: 90%;
}

.img_style2 {
    width: 90%;
}

.flexcont {
    display:block;
}

Section, Aside {
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
     width: 100%;
    aspect-ratio: 16 / 9;
  border: none;
}
}